/**
 * 模块的样式
 */
/**
 * 下拉树
 */
/**
 * mixins
 */
/*字体*/
/*颜色*/
/*超出显示...*/
/*两端对齐*/
/*向右箭头*/
/*圆点*/
#tt {
  position: absolute;
  z-index: 10000;
  width: 300px;
  max-height: 450px;
  overflow: scroll;
  left: 0;
  top: 25px;
  display: none;
  background-color: #f7f7f7;
}
/**
 * 折叠面板
 */
.expander {
  margin-left: 10px;
}
.expander > .title {
  padding: 5px 10px;
  cursor: pointer;
}
.expander > .title:hover {
  background-color: #f7f7f7;
}
.expander.body {
  padding: .1em .3em;
}
/**
 * 折叠面板
 */
.expander2 {
  margin-left: 10px;
}
.expander2 > .title {
  padding: 5px 10px;
  cursor: pointer;
}
.expander2 > .title:hover {
  background-color: #f7f7f7;
}
.expander2 > .title .name {
  display: inline-block;
  width: 80%;
}
.expander2.body {
  padding: .1em .3em;
}
/**
 * 申请发票
 */
.applyInvoice .description {
  margin: 10px 10px 10px 40px;
  border: 1px solid #d9d9d9;
  padding: 10px 10px 10px 20px;
}
.applyInvoice .description li .dian {
  background-color: #ff9842;
  position: relative;
  left: -10px;
}
.applyInvoice .cartList {
  text-align: center;
}
.applyInvoice .cartList .title {
  font-weight: bold;
  background: #edf3fc;
  color: #333;
  height: 40px;
  line-height: 40px;
  margin: 10px 0 0 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  zoom: 1;
}
.applyInvoice .cartList .title:before,
.applyInvoice .cartList .title:after {
  content: " ";
  display: table;
}
.applyInvoice .cartList .title:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.applyInvoice .cartList .content {
  border-bottom: 1px dotted #80b2ff;
  border-top: 1px dotted #80b2ff;
  height: 48px;
  line-height: 48px;
  margin: 10px 0;
  background-color: #f3f3f3;
  zoom: 1;
}
.applyInvoice .cartList .content:before,
.applyInvoice .cartList .content:after {
  content: " ";
  display: table;
}
.applyInvoice .cartList .content:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.applyInvoice .cartList span {
  float: left !important;
}
.applyInvoice .cartList .list1 {
  width: 10%;
}
.applyInvoice .cartList .list2 {
  width: 20%;
}
.applyInvoice .cartList .list3 {
  width: 30%;
}
.applyInvoice .invoiceMessage {
  padding: 10px 20px;
}
.applyInvoice .invoiceMessage .form-group {
  width: 48%;
  height: 46px;
  line-height: 46px;
}
.applyInvoice .invoiceMessage .form-group label {
  width: 80px;
}
.applyInvoice .invoiceMessage .form-group input[type="text"] {
  width: 270px;
}
.applyInvoice .invoiceMessage .form-group .radio > span {
  display: inline-block;
  width: 80px;
  color: #333;
  font-size: 14px;
  font-weight: bold;
}
.applyInvoice .invoiceMessage .form-group .submit {
  text-align: center;
}
.applyInvoice .invoiceMessage .form-group .submit .btn {
  width: 270px;
}
/**
 * 文章分类
 */
.articleCategory {
  /*min-height: 525px;*/
}
.articleCategory .panels {
  margin-left: 20px;
  padding: 5px 18px;
  cursor: pointer;
}
.articleCategory .panels:hover {
  background-color: #f6f6f6;
}
.articleCategory .panel1 .panel1-heading {
  background-color: #fff;
  padding: 0 20px;
}
.articleCategory .panel1 .panel1-heading .category,
.articleCategory .panel1 .panel1-heading .category2 {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border: 1px solid #0f0f0f;
  font-size: 15px;
  position: relative;
  top: 0px;
  cursor: pointer;
}
.articleCategory .panel1 .panel1-heading a {
  display: inline-block;
  text-align: left;
  font-size: 15px;
  color: #0f0f0f;
  width: 90%;
  min-height: 34px;
  line-height: 34px;
  padding: 0 10px;
}
.articleCategory .panel1 a:hover {
  background-color: #f1f1f1;
  color: #0f0f0f;
}
.articleCategory .panel1 .panel1-body {
  padding: 0;
}
.articleCategory.panel1-group .panel1-heading + .panel1-collapse > .panel1-body,
.panel1-group .panel1-heading + .panel1-collapse > .list-group {
  border-top: none;
}
.articleCategory .panel1 .panel1-body li {
  margin-left: 60px;
}
.articleCategory .panel1 .panel1-body li a {
  display: inline-block;
  padding: 7px;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.panel1-collapse {
  margin-left: 15px;
}
/**
 * 热门文章
 */
.articleHot {
  text-align: center;
}
.articleHot .rankingList {
  zoom: 1;
  height: 44px;
  line-height: 44px;
}
.articleHot .rankingList:before,
.articleHot .rankingList:after {
  content: " ";
  display: table;
}
.articleHot .rankingList:after {
  clear: both;
  visibility: hidden;
  font-size: 0;
  height: 0;
}
.articleHot .rankingList li {
  height: 44px;
  line-height: 44px;
  float: left !important;
}
.articleHot .rankingList li a {
  width: 100%;
}
.articleHot .rankingList .list2 span {
  display: inline-block;
  width: 100%;
  height: 44px;
}
.articleHot .rankingList .list8 {
  text-align: left;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/**
 * 文章列表
 */
.articleList .titleName {
  width: 500px;
}
.articleList th {
  background-color: #edf3fc;
  text-align: center;
}
.articleList td img {
  margin: 0 10px;
}
.articleList td a {
  display: inline-block;
  width: 458px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.articleList td.listDate {
  text-align: center;
}
/**
 * 分类 tree
 */
.expander {
  padding: 5px;
}
/**
 * 班级详情
 */
.classDetail .classDes {
  text-align: center;
}
.classDetail .classDes .title {
  height: 30px;
  line-height: 30px;
  font-size: 20px;
}
.classDetail .classDes .publish {
  margin: 15px auto;
}
.classDetail .contentclassinfo {
  text-indent: 2em;
  line-height: 24px;
  padding: 10px;
}
.classDetail .myTab .perlist .photo {
  margin-top: 20px;
}
.classDetail .myTab .perlist .photo img {
  width: 80%;
  height: 130px;
  border-radius: 4px;
}
.classDetail .myTab .tab-content {
  min-height: 200px;
}
.classDetail .myTab .tab-content .classMore a {
  display: inline-block;
  padding: 4px 30px;
  color: #db1011;
}
