<!--文章分类-->
<div class="articleCategory panel1-group"  dw-loading="courseClassify">
  <div class="com-header">
    <p class="title">
      <img src="../images/headerLeftIcon.png" alt="图标">
      {{categoryTitle}}
    </p>
  </div>
  <div class="tmBorder">
    <div category classify-data="categoryData" search="refreshList" name="'article'"></div>
    <p style="padding:5px 27px;" ng-if="categoryTitle!='在线帮助'" class="panels" ui-sref="noticelist">通知公告</p> <!-- ng-show="categoryData.TitleNav=='新闻中心'" -->
  </div>
</div>
<style>
  .articleCategory .tmBorder .panels {
  padding: 5px 27px;
  cursor: pointer;
  margin-left:0;
}
.articleCategory .tmBorder .panels:hover {
  background-color: #fceeee;
  color:red;
}
</style>

