<!--文章分类-->
<div class="articleCategory panel1-group"  dw-loading="courseClassify">
  <div class="com-header">
    <p class="title">
      <img src="../images/headerLeftIcon.png" alt="图标">
      {{categoryData.TitleNav}}
    </p>
  </div>
  <div class="tmBorder">
    <div ng-repeat="courseList in categoryData.ListData" ng-if="courseList.Nodes.length>0">
      <p class="panels" ng-repeat="node in courseList.Nodes" ng-if="node.Nodes.length==0"><a ui-sref="article({categoryId:node.Id})">{{node.Name}}</a></p>
      <div ng-repeat="node in courseList.Nodes" ng-if="node.Nodes.length>0">
        <p class="panels" ng-repeat="node2 in node.Nodes"><a ui-sref="article({categoryId:node.Id})">{{node2.Name}}</a>{{node2.Name}}</p>
      </div>
    </div>
    <p class="panels" ng-repeat="courseList in categoryData.ListData" ng-if="courseList.Nodes.length==0"><a ui-sref="article({categoryId:node.Id})">{{courseList.Name}}</a></p>
    <p  class="panels"><a ui-sref="noticelist">通知公告</a></p>
  </div>
</div>