<div class="baywindow">
	<div class="qq_talk">
		<a href="http://wpa.qq.com/msgrd?v=3&uin=2826679399&site=qq&menu=yes 
" target="block">
			
		</a>
	</div>
	<div class="service">
		<p>客服服务时间:<p/>
		<p>上午08:30-11:30<p/>
		<p>下午14:30-11:30<p/>
		<p>客服电话:</p>
		<p>0890-66229336</p>
		<p>手机号码:</p>
		<p>15348884536</p>
	</div>
	<div class="erweima">
		<img src="../images/erweima.png">
		扫码下载手机APP
	</div>
</div>
<style type="text/css">
.qq_talk{
	width:125px;
	height:46px;
}
.qq_talk a{
	display: block;
	width:125px;
	height:46px;
	background: url(../images/qq.png) #ddd no-repeat center top;
}
	.baywindow{
		position: fixed;
		right:0px;
		top:25%;
		width:125px;
		height:243px;		
		z-index: 1111;
		
		/*padding-left:15px;*/
	}
	.baywindow .service{
		width:124px;
		height:197px;
		background: #ddd;
		padding-left:15px;
	}
	.baywindow .service p{
		line-height: 28px;
	}
	.erweima{
		text-align: center;
		line-height: 25px;
		background: #ddd;
	}
	.erweima img{
		width:125px;
		height: 145px;
	}
</style>