<div class="baywindow">
	<div class="service">
		<p>客服服务时间:<p/>
		<p>上午08:30-11:30<p/>
		<p>下午14:30-11:30<p/>
		<p>客服电话:</p>
		<p>0890-66229336</p>
		<p>手机号码:</p>
		<p>15348884536</p>
	</div>
	<div class="erweima">
		<img src="../images/erweima.png">
		扫码下载手机APP
	</div>
</div>
<style type="text/css">
	.baywindow{
		position: fixed;
		right:0;
		top:25%;
		width:125px;
		height:243px;		
		z-index: 1111;
		background: url(../images/qq.png) #ddd no-repeat center top;
		/*padding-left:15px;*/
	}
	.baywindow .service{
		width:173px;
		height:197px;
		background: #ddd;
		margin-top:45px;
		padding-left:15px;
	}
	.baywindow .service p{
		line-height: 28px;
	}
	.erweima{
		text-align: center;
		line-height: 25px;
		background: #ddd;
	}
	.erweima img{
		width:125px;
		height: 145px;
	}
</style>