<div class="articleList">
  <div class="com-header">
    <p class="title">
      <img src="../images/headerLeftIcon.png" alt="图标">
      <span >评论列表</span>
     
    </p>
  </div>
  <div class="tmBorder">
    <!-- <ol class="breadcrumb">
      <li class="currentPosition">您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li class="active">
        <span ng-show="articleListData.CategoryName">{{articleListData.CategoryName}}</span>
        <span ng-hide="articleListData.CategoryName">{{articleListData.TitleNav}}</span>
      </li>
    </ol>
    <form class="form-inline formSearch">
      <div class="form-group">
        <input ng-model="searchTitle" type="text" class="form-control"
               my-placeholder
               placeholder="请输入搜索关键词">
      </div>
      <button type="submit" class="btn btn-default" ng-click="refreshList({page:1,search:searchTitle})">搜索</button>
    </form> -->
    <div dw-loading="articleList" class="mar_top_20">
    <!-- ng-show="paginationConf.totalItems" 通过判断分页 table是否显示 -->
      <table class="table"  ng-show="paginationConf.totalItems"  >
        <!-- <tr>
          <th class="titleName">文章名称</th>
          <th class="titleDate">发布日期</th>
        </tr> -->
        <tr ng-repeat="items2 in courseCommlast">
          <td><img class="icon_img" src="images/arrow.png" alt="">
          <span style="color:red ; float: left;">{{items2.UserName}}</span>
          <span  style="float: left;">评论了课程</span>
          <a  ui-sref="courseDetails({Id:items2.CourseId})" style="color:#2278aa;float: left;"title="{{listData.Name}}" target="_blank">{{items2.CourseName}}</a></td>
          <td class="listDate">{{items2.PostDate | dateFilter | date:'yyyy-MM-dd'}}</td>
        </tr>
      </table>
      <div ng-show="paginationConf.totalItems" class="mar_top_5" tm-pagation conf="paginationConf"></div>
      <p ng-show="!paginationConf.totalItems" class="result">暂无数据</p>
    </div>
  </div>
</div>
<style>
  .articleList td img{
    margin-top:-5px;
  }

</style>