<div class="mapEntrance">
	<div class="substation">
		<div class="city_county">
			<p class="title">市县分站点</p>
		</div>
		<div class="map">
			<img src="../images/hn_left_map.png" usemap="#Citymap" >
			 <map name="Citymap" id="Citymap">
                    <area shape="poly" coords="108, 24, 109, 40, 99, 48, 88, 43, 89, 19" onfocus="this.blur()" class="area1" 
                        href="http://lingao.hngbzx.com" target="_blank" />
                    <area shape="poly" coords="82, 35, 93, 58, 88, 74, 47, 60, 68, 34" onfocus="this.blur()"
                        href="http://danzhou.hngbzx.com" target="_blank" />
                    <area shape="poly" coords="56, 109, 48, 111, 42, 93, 14, 79, 30, 65, 38, 69" onfocus="this.blur()"
                        href="http://changjiang.hngbzx.com" target="_blank" />
                    <area shape="poly" coords="75, 79, 92, 89, 68, 106, 53, 92, 47, 69" onfocus="this.blur()"
                        href="http://test13.jy365.net/#/" target="_blank"><!-- 白沙 -->
                        <area shape="poly" coords="207, 42, 177, 66, 181, 44, 187, 30, 178, 4, 204, 18" 
                        href="http://wenchang.hngbzx.com" onfocus="this.blur()" target="_blank" />
                </map>
		</div>
	</div>
</div>
<style type="text/css">
	.mapEntrance .substation{
		width:387px;
		height: 230px;
		border:1px solid #dddddd;
		text-align: center;
	}
	.city_county{
		height:49px;
		width: 385px;
		background: #f3f3f3;
		border-bottom: 1px solid #ddd;
	}
	.city_county .title{
		width: 122px;
		height: 49px;
		border-right:1px solid #ddd;
		background: #fff;
		border-top:3px solid #db1011;
		color:#db1011;
		font-size: 16px;
		line-height: 49px;
		text-align: center;
		font-weight: bolder;
	}

	.map img{margin:0 auto;}
</style>