<div class="mustisnapp flo_left mar_left_20">
	<div class="realdata">
          <p class="title must_title">必装软件</p>
    </div>
    <div class="ins_title wid_all">
    	系统必要系统检测安装
    </div>
    <div>
    	<ul class="ins_con">
    		<li>
    			<span class="click_ins">点击安装</span>
    			<span class="if_ins">是否安装</span>
    		</li>
			<li>
    			<a class="click_ins">视频播放器</a>
    			<a href="http://windows.microsoft.com/zh-cn/windows/download-windows-media-player" class="if_ins">是</a>
    		</li>
    		<li>
    			<a class="click_ins">FLASH动画插件</a>
    			<a  href="http://get.adobe.com/cn/flashplayer/"  target="_blank" class="if_ins">是</a>
    		</li>
    	</ul>
    </div>
</div>
<style>
	.mustisnapp{
		width:386px;
		height:230px;
		border:1px solid #ddd;
		font-weight: bold;
	}
	.mustisnapp  .must_title{
		text-align: center;
	}
	.ins_title{
		text-align: center;
		height: 50px;
		line-height: 50px;
	}
	.wid_all{
		width:100%;
	}
	.ins_con{
		width:300px;
		height: 120px;
		margin-left:60px;
		padding-left:;
	}
	.click_ins{
		width:125px;
		height: 43px;
		text-align: left;
		float: left;
	}
	.if_ins{float: right;
		width:75px;
		height: 43px;
		text-align: left;
	}
</style>