
  <!--文章分类-->
  <div class="articleCategory panel1-group"  dw-loading="courseClassify">
    <div class="com-header">
      <p class="title">
        <img src="../images/headerLeftIcon.png" alt="图标">
        新闻中心
      </p>
    </div>
    <div class="tmBorder">
      <div category classify-data="categoryData" name="'articleLink'"></div>
      <p class="panels" ui-sref="noticelist">通知公告</p>
    </div>
  </div>
  <style>
    .articleCategory .tmBorder .panels{
      margin:0;
      padding:5px 27px;
    }
    .articleCategory .tmBorder .panels:hover{
     background: #fceeee;
     color:red;
    }
  </style>
