<!--单位排行列表（more）-->
<div class="rankingDetail" dw-loading="rankingDetail">
  <div class="com-header">
    <p class="title">
      <img src="../images/headerLeftIcon.png" alt="图标">
      {{govermentproRanking.ViewBag.TitleNav}}
    </p>
  </div>
  <div class="tmBorder">
    <ol class="breadcrumb">
      <li class="currentPosition">您的当前位置:</li>
      <li><a ui-sref="main">首页</a></li>
      <li class="active">{{govermentproRanking.ViewBag.TitleNav}}</li>
    </ol>
    <ul class="rank_tab" ng-init="vmtab.rankActive=0">
      <li ng-class="{active_tab:vmtab.rankActive==0}">
        <a ng-click="vmtab.rankActive=0;getGroupRanking({'BatchId':10})">省级干部单位排行</a>
      </li>
      <li ng-class="{active_tab:vmtab.rankActive==1}" class="ranktab_bor">
        <a ng-click="vmtab.rankActive=1;getGroupRanking({'BatchId':7})">处级干部单位排行</a></li>
      <li  ng-class="{active_tab:vmtab.rankActive==2}">
        <a ng-click="vmtab.rankActive=2;getGroupRanking({'BatchId':11})" >科级及以下干部单位排行</a>
      </li>
    </ul>
    <div class="myTab" dw-loading="userRankingList"  ng-show="vmtab.rankActive == 0">
      <div class="tab-content">
        <div class="tab-panel perlist">
          <div class="title_bar">
            <span class="list2">排名</span>
            <span class="list2">单位名称</span>
            <span class="list2">平均学分</span>
            <span class="list2">总学分</span>
            <span class="list2">总人数</span>
          </div>
          <div class="list" ng-repeat="govermentproRanking in govermentproRanking.ListData"  ng-class="{'rankListBg':$index%2!=0}">
            <span class="list2">{{(paginationConf.currentPage-1)*paginationConf.itemsPerPage+$index+1}}</span>
            <span class="list2 ellipsis" title="{{govermentproRanking.DepartmentName}}">{{govermentproRanking.DepartmentName}}</span>
            <span class="list2">{{govermentproRanking.Average}}</span>
            <span class="list2">{{govermentproRanking.Credit}}</span>
            <span class="list2">{{govermentproRanking.UserCount}}</span>
          </div>
        </div>
      </div>
      <div tm-pagation conf="paginationConf"></div>
    </div>
    <div class="myTab" dw-loading="userRankingList" ng-show="vmtab.rankActive == 1">
      <div class="tab-content">
        <div class="tab-panel perlist">
          <div class="title_bar">
            <span class="list2">排名</span>
            <span class="list2">单位名称</span>
            <span class="list2">平均学分</span>
            <span class="list2">总学分</span>
            <span class="list2">总人数</span>
          </div>
          <div class="list" ng-repeat="govermentLeaderRanking in govermentLeaderRanking.ListData"  ng-class="{'rankListBg':$index%2!=0}">
            <span class="list2">{{(paginationConf.currentPage-1)*paginationConf.itemsPerPage+$index+1}}</span>
            <span class="list2 ellipsis" title="{{govermentLeaderRanking.DepartmentName}}">{{govermentLeaderRanking.DepartmentName}}</span>
            <span class="list2">{{govermentLeaderRanking.Average}}</span>
            <span class="list2">{{govermentLeaderRanking.Credit}}</span>
            <span class="list2">{{govermentLeaderRanking.UserCount}}</span>
          </div>
        </div>
      </div>
      <div tm-pagation conf="paginationConf"></div>
    </div>
    <div class="myTab" dw-loading="userRankingList" ng-show="vmtab.rankActive == 2">
      <div class="tab-content">
        <div class="tab-panel perlist">
          <div class="title_bar">
            <span class="list2">排名</span>
            <span class="list2">单位名称</span>
            <span class="list2">平均学分</span>
            <span class="list2">总学分</span>
            <span class="list2">总人数</span>
          </div>
          <div class="list" ng-repeat="govermentModdelRanking in govermentModdelRanking.ListData"  ng-class="{'rankListBg':$index%2!=0}">
            <span class="list2">{{(paginationConf.currentPage-1)*paginationConf.itemsPerPage+$index+1}}</span>
            <span class="list2 ellipsis" title="{{govermentModdelRanking.DepartmentName}}">{{govermentModdelRanking.DepartmentName}}</span>
            <span class="list2">{{govermentModdelRanking.Average}}</span>
            <span class="list2">{{govermentModdelRanking.Credit}}</span>
            <span class="list2">{{govermentModdelRanking.UserCount}}</span>
          </div>
        </div>
      </div>
      <div tm-pagation conf="paginationConf"></div>
    </div>
  </div>
</div>
<style>
  .rank_tab{
    width:100%;
    height:40px;
    background: #ddd;
  }
  .rank_tab li{
    float: left;
    width:33%;
    text-align: center;
    line-height: 40px;
    font-size:16px;
  }
  .rank_tab li a{
    width:100%;
    float: left;
    height:40px;
    text-align:center;
  }
  .rank_tab li a:hover{
    background: red;
    color:#fff;
  }
  .rank_tab .ranktab_bor{
    border-left:1px solid #fff;
    border-right:1px solid #fff;
  }
  .rank_tab .active_tab{
    background:#db1011;
    color:#fff;
  }
  .rank_tab .active_tab a{
    color: #fff;
  }
</style>

