<!--首页-->
<div tm-header></div>
<!-- <div class="loginBg" ng-class="{'bgLarge1':plate=='hunan','bgLarge2':plate=='changsha'}">
  <div class="bigBanner" ng-class="{'textBg1':plate=='hunan','textBg2':plate=='changsha'}">
    <img class="bannerText" src="../images/bannerText.png" alt="">
  </div> 
</div>-->
<!-- <div class="loginBg">
  
</div> -->
<div tm-nav-bars></div>
<div tm-classify-search></div>
<!-- <div tm-chart></div> -->
<div tm-bay-window></div>
<div class="container_24">
<div tm-search></div>
  <div class="container_24 mar_top_20">
   <!--  <div class="grid_12">
      <div tm-notice-announcement notice-data="noticeData" repeat-finish="startSlide"></div>
    </div> -->
    <div class="grid_17">
      <div tm-news-information></div>
    </div>
    <div class="grid_7">
      <!-- <div tm-login></div> -->
      <div tm-user-login></div>
    </div>
  </div>
  <div class="container_24 mar_top_20">
    <div class="grid_17">
      <div tm-course-center></div>
      <!-- <div tm-class-garden></div> -->
      <!-- <div tm-interactive-comments></div> -->
    </div>
    <div class="grid_7">
      <div tm-ranking-tab></div>
      <div tm-guide-entry></div>
      <!-- <div tm-special-training></div> -->
    </div>
  </div>
  <div class="container_24">
    <div tm-red-banner></div>
  </div>
  <div class="container_24">
    <div class="grid_17">
      <div tm-class-garden></div>
      <div tm-interactive-comments></div>
    </div>
    <div class="grid_7">
      <div tm-special-training></div>
    </div>
  </div>
 
  <div class="container_24">
      <div class="flo_left" tm-map-entrance></div>
      <div class="flo_left" tm-real-time-data></div>
      <div tm-must-ins-app></div>
  </div>
</div>

<div tm-footer></div>
<div tm-tip></div>

<style>
  .flo_left{float:left;}
  </style>




