<div tm-header></div>
<div tm-nav-bars></div>
<div class="container_24">
  <div class="grid_6 mar_top_15">
    <!--<div tm-training-course-classify repeat-done="repeatDone"></div>-->
    <div class="articleCategory panel1-group"  dw-loading="courseClassify">
      <div class="com-header">
        <p class="title">
          <img src="../images/headerLeftIcon.png" alt="图标">
          培训班分类
        </p>
      </div>
      <div class="tmBorder">
        <div category classify-data="courseClassify" search="getClassList" name="'class'"></div>
      </div>
    </div>
      <div tm-class-my class-my-data="classMyData" class-type="classMyType"></div>
    <div tm-class-my class-my-data="ClassActiveData" class-type="classActiveType"></div>
    <div tm-class-my class-my-data="ClassRecentData" class-type="classRecentType"></div>
  </div>
  <div class="grid_18 mar_top_15 pad_left_10">
    <div tm-training-center>
      <div  tm-pagation conf="paginationConf"></div>
    </div>
  </div>
</div>
<div tm-footer></div>


